<div class="container">
    <div class="row">
        <div class="sm-12 text-center">
        <h>New Category</h>
         </div>  
    </div>
    <%= render 'form' %>

    <%= link_to 'Back', categories_path %>
</div>